<div ng-controller="dashboardController">
    <div class="box" style="position: fixed;background: #F5F5F5;width: 80%">
        <div class="box-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>应用名</label>
                    <input type="text" class="form-control" placeholder="pay-sdk-server" ng-model="params.namespace">
                </div>
                <div class="form-group">
                    <label>应用IP</label>
                    <input type="text" class="form-control" placeholder="10.18.97.148" ng-model="params.ip">
                </div>

                <div class="form-group">
                    <label>日志内容</label>
                    <input type="text" class="form-control" placeholder="log content regex" ng-model="params.like">
                </div>
                <div class="form-group">
                    <label>日志级别</label>
                    <select class="form-control" ng-model="paramsLevel"
                            ng-options="display.name for display in levelList">
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" ng-model="freshOpen"> 自动刷新
                </div>
            </form>
        </div>
    </div>
    </br>
    <div id="chat_history" style="margin-top: 3%;overflow: scroll;position:fixed;height: 75%;"
         id="chat_history" ng-mousedown="mousedown()" ng-mouseleave="mouseleave()">
        <div ng-repeat="log in dataList track by $index" style="width: auto">
            <div style="width: 20% ; float: left">
                [ <span ng-bind="log.timestamp | date:'yyyy-MM-dd HH:mm:ss'"></span>--]
                <span ng-if="log.level=='DEBUG'" ng-bind="log.level" style="font-weight: bold"></span>
                <span ng-if="log.level=='INFO'" ng-bind="log.level" style="font-weight: bold"></span>
                <span ng-if="log.level=='WARN'" ng-bind="log.level" style="font-weight: bold ;color: #FF8911"></span>
                <span ng-if="log.level=='ERROR'" ng-bind="log.level" style="font-weight: bold ;color: red"></span>
                :
            </div>
            <pre ng-bind="log.content"
                 style="padding: 1px;border: none;margin: 0 0 0px;width: 80% ;white-space: pre-wrap;white-space:
                 -moz-pre-wrap;white-space:-pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;"></pre>
        </div>
    </div>

</div>

<script type="text/javascript">


</script>